.head{
    text-align: center;
}
.container{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 0 4px;
    cursor: pointer;
}
.row{
    margin: 4px 0;
}
.input {
    padding: 11px 0px;
    border: 2px solid;
    border-radius: 10px;
    font-size:22px ;
}
